.top-row[b-9hkeo03kpw] {
    background-color: #ECE9E5;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-9hkeo03kpw]  a, .top-row[b-9hkeo03kpw]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-9hkeo03kpw]  a:hover, .top-row[b-9hkeo03kpw]  .btn-link:hover {
    cursor: pointer;
}

.top-row[b-9hkeo03kpw]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-9hkeo03kpw] {
        justify-content: space-between;
    }

    .top-row[b-9hkeo03kpw]  a, .top-row[b-9hkeo03kpw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .top-row[b-9hkeo03kpw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-9hkeo03kpw]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-9hkeo03kpw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.right-panel[b-9hkeo03kpw] {
    width: 50%;
    padding: 10px;
    text-align: right;
    margin-left: 10px;
    float: left;
    display: flex;
    justify-content: right; /* Centers the columns horizontally */
    align-items: center;
}

.left-panel[b-9hkeo03kpw] {
    width: 50%;
    padding: 10px;
    text-align: center;
    display: flex;
}

.center-panel[b-9hkeo03kpw] {
    width: 40%;
    padding: 15px;
    text-align: left;
    display: flex;
    justify-content: left; /* Centers the columns horizontally */
    align-items: center;
}

.center-panel a[b-9hkeo03kpw] {
    width: 70px;
}