@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
        <main>
            <article class="guest-content">
                @Body
            </article>
            <Footer/>
        </main>
    </div>
