@inherits LayoutComponentBase

<div class="page">
    <main>
        <NavMenu />
        <div style="display: flex;">
            <aside class="sidebar">
                <!-- Sidebar content here -->
                <nav>
                    <ul>
                        <li><a href="/">Net Salary Analysis</a></li>
                        <li><a href="/profile">Payslips</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/settings">Settings</a></li>
                    </ul>
                </nav>
            </aside>
            <article class="content">
                @Body
            </article>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
